# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
build/

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/

# Deployment
*.sh
*.zip
